/* Editar Productos


position: absolute;
width: 128px;
height: 32px;
left: 1074px;
top: 172px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 32px; */
/* identical to box height, or 200%


color: #000000;



Group 70


position: absolute;
width: 390px;
height: 64px;
left: 1067px;
top: 222px;



Group 71


position: absolute;
width: 395.14px;
height: 35px;
left: 1067px;
top: 317px;



Group 73


position: absolute;
width: 418px;
height: 132px;
left: 1067px;
top: 291px;



Group 74


position: absolute;
width: 418px;
height: 64px;
left: 1067px;
top: 430px;



Group 75


position: absolute;
width: 165px;
height: 64px;
left: 1297px;
top: 430px;



Group 29


position: absolute;
width: 210px;
height: 36px;
left: 1067px;
top: 529px;



Group 30


position: absolute;
width: 418px;
height: 26px;
left: 1067px;
top: 501px;



Arrow down


position: absolute;
width: 9px;
height: 6px;
left: 1260px;
top: 545px;

background: #000000;


Group 81


position: absolute;
width: 165px;
height: 35px;
left: 1297px;
top: 527px;



Group 82


position: absolute;
width: 165px;
height: 35px;
left: 1293px;
top: 817px;



Group 83


position: absolute;
width: 165px;
height: 35px;
left: 1118px;
top: 817px;



Group 30


position: absolute;
width: 54px;
height: 26px;
left: 1186px;
top: 501px;



Group 79


position: absolute;
width: 54px;
height: 26px;
left: 1301px;
top: 501px;



Group 78


position: absolute;
width: 418px;
height: 64px;
left: 1067px;
top: 572px; */
/*  */