@page "/manage-products"

    
<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Disponible</th>
            <th>Puntuación</th>
            <th>Salud</th>
        </tr>
    </thead>
    <tbody id="order-list-container">
       @* @if (products != null)
        {

            @foreach (Products prod in products)
            {
                <Item orderAttr=prod></Item>
            }
        }*@
    </tbody>
</table>
@code {



}
