<h3>Editar Productos</h3>
<form action="getProduct" method="get">
    <input type="number" name="code" id="product-code">
    <input type="number" name="ean" id="product-ean">
    <input type="text" name="name" id="product-name">
</form>
@code {

}
