@page "/business"

<div class="business-main-container">
 
    <div id="business-name" class="business-name">
            <p class="welcome-label">Bienvenido a</p>
            <h1>Pizzeria Popular</h1>
        </div>
        <div id="business-info-details" class="business-info-details">
            <h3>Río Ceballos - Córdoba</h3>
        </div>
        <div id="favorite-shape" class="business-img">
            <img src="/assets/imgs/Shape.png" alt="">
        </div>
        <div id="personal-attention-request">

            <a href="" class="personal-atention-request">Solicitar atención</a>
        </div>
        <div id="access-button">

            <a class="access-button" href="/suggestedproducts">Ingresar</a>
        </div>
</div>