@page "/orderView"

<a href="#" class="arrow-back">
    <i></i>
</a>
<p class="title">Orden</p>
<img src="~/assets/imgs/blog-5.jpg" alt="" class="user-registered-icon" />
<OrderItem></OrderItem>
<p class="message-title">Observaciones</p>
<MessageBox></MessageBox>
<p class="total">Total: </p>
<p class="amount">198.65</p>
<a href="#" class="payment-button">Pagar</a>
@code {

}
