@page "/productview"
<a href="#" class="arrow-back">
    <i></i>
</a>
<a href="#" class="set-favorite"></a>
<a href="#" class="share-product"></a>
<img src="~/assets/imgs/blog-5.jpg" alt="" class="product-image" />
<h3>ProductName</h3>
<div class="price">123,50</div>
<div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, culpa! Voluptates placeat, incidunt excepturi velit harum earum culpa mollitia dolorem eum alias vel explicabo nobis libero, cupiditate aperiam. Pariatur</div>
<div class="options-title">Bordes rellenos</div>
<input type="number" value="1" class="quantity-imput" />
<label class="quantity">Cantidad</label>
<a href="#">Agregar</a>
@code {

}
