@page "/productsview"


<a href="#" class="arrow-back">
    <i></i>
</a>

<img src="~/assets/imgs/blog-5.jpg" alt="" class="user-registered-icon" />
<ProductsSection title="Nuestras Pizzas"></ProductsSection>

@code {

}
