@page "/suggestedproducts"

<div class="suggested-view">
    <div id="business-name">
        Pizzeria Popular
    </div>
    <div id="suggested-section">
        <div id="suggested-section-bar">
            Pizzas sugeridas
        </div>
        <div id="suggested-group-item">
            <div id="suggested-item">
                <div id="suggested-item-title">
                    Margherita
                </div>
                <div id="suggested-item-img">
                   <a href="/product/1">
                       <img src="/assets/imgs/pizza.png" alt="">
                   </a>
                </div>
                <div id="suggested-item-price">
                    $ 12.99
                </div>
                <div id="suggested-item-fav">
                    <img src="/assets/imgs/Shape.png" alt="">
                </div>
            </div>
            <div id="suggested-item">
                <div id="suggested-item-title">
                    Margherita
                </div>
                <div id="suggested-item-img">
                    <img src="/assets/imgs/pizza.png" alt="">
                </div>
                <div id="suggested-item-price">
                    $ 12.99
                </div>
                <div id="suggested-item-fav">
                    <img src="/assets/imgs/Shape.png" alt="">
                </div>
            </div>
            <div id="suggested-item">
                <div id="suggested-item-title">
                    Margherita
                </div>
                <div id="suggested-item-img">
                    <img src="/assets/imgs/pizza.png" alt="">
                </div>
                <div id="suggested-item-price">
                    $ 12.99
                </div>
                <div id="suggested-item-fav">
                    <img src="/assets/imgs/Shape.png" alt="">
                </div>
            </div>
            <div id="suggested-item">
                <div id="suggested-item-title">
                    Margherita
                </div>
                <div id="suggested-item-img">
                    <img src="/assets/imgs/pizza.png" alt="">
                </div>
                <div id="suggested-item-price">
                    $ 12.99
                </div>
                <div id="suggested-item-fav">
                    <img src="/assets/imgs/Shape.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <div id="suggested-section">
        <div id="suggested-section-bar">
            Pizzas sugeridas
        </div>
        <div id="suggested-group-item">
            <div id="suggested-item">
                <div id="suggested-item-title">
                    Margherita
                </div>
                <div id="suggested-item-img">
                    <img src="/assets/imgs/pizza.png" alt="">
                </div>
                <div id="suggested-item-price">
                    $ 12.99
                </div>
                <div id="suggested-item-fav">
                    <img src="/assets/imgs/Shape.png" alt="">
                </div>
            </div>
            <div id="suggested-item">
                <div id="suggested-item-title">
                    Margherita
                </div>
                <div id="suggested-item-img">
                    <img src="/assets/imgs/pizza.png" alt="">
                </div>
                <div id="suggested-item-price">
                    $ 12.99
                </div>
                <div id="suggested-item-fav">
                    <img src="/assets/imgs/Shape.png" alt="">
                </div>
            </div>
            <div id="suggested-item">
                <div id="suggested-item-title">
                    Margherita
                </div>
                <div id="suggested-item-img">
                    <img src="/assets/imgs/pizza.png" alt="">
                </div>
                <div id="suggested-item-price">
                    $ 12.99
                </div>
                <div id="suggested-item-fav">
                    <img src="/assets/imgs/Shape.png" alt="">
                </div>
            </div>
            <div id="suggested-item">
                <div id="suggested-item-title">
                    Margherita
                </div>
                <div id="suggested-item-img">
                    <img src="/assets/imgs/pizza.png" alt="">
                </div>
                <div id="suggested-item-price">
                    $ 12.99
                </div>
                <div id="suggested-item-fav">
                    <img src="/assets/imgs/Shape.png" alt="">
                </div>
            </div>
        </div>
    </div>


</div>

@code {

}