@page "/admin/dashboard"
@*@using Data.Entities
@layout MainLayout

<PageTitle>@Business.Name - Dashboard - OrderNow</PageTitle>
<h1>Usted a ingresado al dashboard</h1>

@code{
   public Businesses Business { get; set; }

   private void OpenDashboard()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        Business = new Businesses
            {
                Name = "Pizzeria Popular",
                ContractURL = "/pizzeria-popular"
            };
        //Business = await ForecastService.GetForecastAsync(DateTime.Now);
    }

}*@