@page "/business/"
@page "/business/{contractURL}"

<PageTitle>@business?.Name - OrderNow</PageTitle>

<div id="business-main-container" class="text-center">

    <div class="row pt-4">
        <p id="welcome-label">Bienvenido a</p>
    </div>
    <div class="row">
        <h1 id="business-name">@business?.Name</h1>
    </div>
    <div id="business-info">
        <h3>@business?.Address?.City</h3>
    </div>
    <div id="favorite-shape">
        <a @onclick="SetAsFavorite">

        <i class="@favorite" style="font-size:4rem"></i>
        </a>
    </div>
    <a id="access-button" href="/menu/@contractURL">Ingresar</a>

</div>

@code {

    [Parameter]
    public string? contractURL { get; set; }
    public Common.Data.Entities.Business? business { get; set; }
    public string? backgroundImageURL { get; set; }
    public string? favorite { get; set; }




    protected override async Task OnInitializedAsync()
    {

        business = await _businessesServices.GetBusinessIfActive(contractURL);
               //TODO 
               // Buscar el usuario y comercio, para permitir ver si es favorito.
               // Buscar en el usuario si el comercio está marcado como favorito

    }


    public async Task SetAsFavorite()
    {
        if (favorite.Equals("bi bi-suit-heart-fill"))
        {
            favorite = "bi bi-suit-heart";
        }
        else
        {
            favorite = "bi bi-suit-heart-fill";
        }

    }



    public void FormSubmit()
    {
        _navMan.NavigateTo("/business");
    }
}