.body{
    display: flex;
    align-items: center;
    
}

.business-main-container {
    display: flex;
    align-items:center;
    align-content: center;
    -ms-flex-direction: inherit;
    -webkit-flex-direction: inherit;
    flex-direction: row;
}

.business-info{
    text-align: center;

}
.business-info-details{

}
.business-img{
width: 100%;
}
