@page "/login"
@inject NavigationManager NavManager
<div class="login-box">
    
<input type="text" name="username" />
<input type="password" name="password" />
<button onclick="@ValidateUser" class="btn-link">Login</button>
<a href="user/UserProfile" class="btn-link">Profile</a>
</div>

@code {
    private void ValidateUser()
    {
        NavManager.NavigateTo("user/userProfile");
    }

    private void RegisterUser()
    {

        NavManager.NavigateTo("user/userProfile");
    }
}
