@page "/login"
@inject NavigationManager NavManager

<div class="login-box">
    

        <input class="input-user" type="text" name="username" />
        <input class="input-user" type="password" name="password" />
        <button onclick="@ValidateUser" class="btn-hero">Login</button>
        <a  class="btn-hero" href="user/UserProfile">Profile</a>

</div>

@code {
    private void ValidateUser()
    {
        NavManager.NavigateTo("user/userProfile");
    }

    private void RegisterUser()
    {

        NavManager.NavigateTo("user/userProfile");
    }
}
