@page "/business/dashboard"
@layout BusinessAdminLayout
@inject NavigationManager NavManager

<div class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <MetricsCard Title="Ordenes"></MetricsCard>
        </div>
        <div class="col-md-3">
            <MetricsCard Title="Nuevos Clientes"></MetricsCard>
        </div>
        <div class="col-md-3">
            <MetricsCard Title="Ticket Promedio"></MetricsCard>
        </div>
        <div class="col-md-3">
            <button class="form-control" name="SwitchProfile">Perfil Usuario</button>
            <img src="~/assets/img/team/1.jpg" alt="" />
            <p id="username">Emiliano Policardo</p>
            <p id="lastconnection">Ultima conexión: 25 de Mayo</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-9">

            <p id="queue-orders-title">Ordenes en espera</p>
            <input class="form-control" id="orders-search" type="search" placeholder="Search order" alt="">

            <TablaDinamica></TablaDinamica>
        </div>
    </div>

    <div class="col-md-3">
        <div class="top-customers">
            <h3>Top Customers</h3>
            <TopCustomersList></TopCustomersList>
        </div>
    </div>
    <a href="/products">Productos</a>
</div>

@code {

    public void FormSubmit()
    {
        NavManager.NavigateTo("/business-dashboard");
    }
}