@page "/business-dashboard"
@layout BusinessAdminLayout
@inject NavigationManager NavManager

<div class="flex-container">

<MetricsCard Title="Ultimos Vendidos"></MetricsCard>
<MetricsCard Title="Ultimos Clientes"></MetricsCard>
<MetricsCard Title="Mejores Vendidos"></MetricsCard>
</div>
<div class="flex-container">

<MetricsCard Title="Ultimos Vendidos"></MetricsCard>
<MetricsCard Title="Ultimos Clientes"></MetricsCard>
<MetricsCard Title="Mejores Vendidos"></MetricsCard>
</div>

<div class="flex-container">



<div class="top-bar">
		<p>Estadisticas</p>
		<div class="btn-action">
			<button name="SwitchProfile">Perfil Usuario</button>
		</div>
		<div class="profile-img">
			<img src="~/assets/img/team/1.jpg" alt="" />
		</div>
	</div>
	<div class="statistics-bar">
		<div class="statistics-box">
		</div>
		<div class="statistics-box">
		</div>
		<div class="statistics-box">
		</div>
	</div>
	<div class="orders-queue">
		<div class="orders-queue-title">
			<p>Ordenes en espera</p>
		</div>
		<div class="orders-list">
			<div class="order-item">
				<img class="user-icon" src="" alt="" />
				<div class="status-bar">

				</div>

			</div>
		</div>
	</div>


<a class="login-card-recovery" href="/">Recuperar acceso</a>
</div>
@code{

public void FormSubmit()
	{
		NavManager.NavigateTo("/business-dashboard");
	}
}