<div class="container">
    <div class="metrics-card">
        <div class="metrics-title">@Title</div>
        <div class="metrics-graph"></div>
        <div class="metrics footer">@Body.Text</div>
    </div>
</div>


@code {
    [Parameter]
    public string Title { get; set; } = "Set By Child";

    [Parameter]
    public PanelBody Body { get; set; } =
        new()
        {
            Text = "Set by child.",
            Style = "normal"
        };

public class PanelBody
{
    public string? Text { get; set; }
    public string? Style { get; set; }
}
}