@page "/"

@inject NavigationManager NavManager

<PageTitle>Order Now</PageTitle>
<div class="box">


	<button class="btn btn-primary" @onclick="RedirectToPage">Ingresar</button>
	
</div>

@code {

	protected void RedirectToPage()
	{
		NavManager.NavigateTo("Login");
	}
}