@inject NavigationManager NavManager


<div class="login-card-container">
		<div class="login-card-left">
			<div class="login-img">
				<img src="assets/imgs/logo.svg" />
			</div>
		</div>
		<div class="login-card-right">
			<EditForm Model="loginCredentials" id="LoginForm" OnValidSubmit="FormSubmit">
				<label for="email">Correo Electrónico</label>
				<InputText DisplayName="Correo Electronico" name="email" class="form-control input-data" @bind-Value="@loginCredentials.email"></InputText>
				<label for="password">Contraseña</label>
				<InputText DisplayName="Password" name="password" type="password" class="form-control input-data" @bind-Value="@loginCredentials.Password"></InputText>
				<button class="btn btn-primary" type="submit" id="submit">Ingresar</button>
				<a class="login-card-recovery" href="/">Recuperar acceso</a>
			</EditForm>
		</div>
	
</div>

@code {
	public OrderNow.Data.Entities.LoginCredentials loginCredentials = new OrderNow.Data.Entities.LoginCredentials();

	public void FormSubmit()
	{


		NavManager.NavigateTo("/user/profile");
	}
}