@page "/menu"
@page "/menu/{contractURL}"

<div id="section-title-bar">
    Productos sugeridos
</div>
<div id="suggested-section-items">
    <SuggestedProductsSection contractURL=@contractURL></SuggestedProductsSection>
</div>


@code {
    [Parameter]
    public string? contractURL { get; set; }
   
}