#suggested-item {
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    max-width: 16rem;
    background-color: rgb(193, 194, 194, 0.2);
    border-radius: 1rem;
    /* gap: 1rem; */
}

#suggested-item-img-box {
    display: grid;
    justify-items: center;
}

#suggested-item-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: end;
    align-content: center; */
}

#suggested-item-img {

}

#suggested-item-label-price {
    display: grid;
    font-size: 2rem;
    grid-column: 2 / span 1;
    font-family: 'Raleway';
    margin-top: 1rem;
    color:black;
}

#favorite-button-shape {
    max-width: 15rem;
    max-height: 15rem;
    margin-top: 1rem;
    margin-left: 1rem;
    grid-column: 1 / span 1;
    max-width: 2rem;
    background:red;
    padding: 15px 40px;
    color:#fff;

}
#favorite-button-shape :hover{
}


    #suggested-item-title{
    color:black;
}

#heart {
    display: flex;
    margin-top:30px;
    margin-left: 10px;
    width: 30px;
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
}
