@page "/suggestedproducts"
@page "/suggestedproducts/{contractURL}"

@*
<div id="suggested-section-items">
    @if (products != null)
    {
        @foreach (var item in products)
        {
            <SuggestedProduct product=item></SuggestedProduct>
        }
    }
</div>*@

<div id="section-title-bar">
    Cervezas sugeridas
</div>
<div id="suggested-section-items">
    <SuggestedProductsSection></SuggestedProductsSection>
</div>
<div id="section-title-bar">
    Pastas sugeridas
</div>
<div id="suggested-section-items">
    <SuggestedProductsSection></SuggestedProductsSection>
</div>

@code {
    [Parameter]
    public string? contractURL { get; set; }

    public IEnumerable<Products>? products { get; set; }


    protected override async Task OnInitializedAsync()
    {
        products = await _productsServices.SugestedProductsByBusiness(Guid.Parse("59cbe520-c1a2-41b1-aefb-6d6fc2fe8820"));

    }
}