<div id="about" class="container-fluid wow fadeIn" data-wow-duration="1.5s">
	<div class="row">
		<div class="col-lg-6 has-img-bg"></div>
		<div class="col-lg-6">
			<div class="row justify-content-center">
				<div class="col-sm-8 py-5 my-5 text-white">
					<h2 class="mb-4">Que es OrderNow</h2>
					<p>
						Gracias a <strong>OrderNow</strong> vas a disfrutar mas de tus salidas de esparcimiento.
						Con <strong>OrderNow</strong> no necesitas instalar ninguna aplicacion, solo abris tu camara, escaneas el QR del comercio y listo,
						ya poder ver la carta del lugar, conocer al detalle cada producto y agregarlo a tu orden. Cuando termines, solo eliges
						tu forma de pago preferida, y casi sin darte cuenta, tendras todo eso que elegiste en tu mesa.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>