@page "/manage-products"
@using OrderNow.API.Services
@using OrderNow.BlazorServer.Services

@using System.Text.Json
@using global::OrderNow.Common.Data.Entities
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime JS


<h1>Products</h1>
<div class="row">

    <div class="col-md-9">
        <h1>Ocupado</h1>
    </div>
    <div class="col-md-3">
        <ProductEditForm OrderId="@OrderId"></ProductEditForm>
    </div>
</div>
@code{

    [ParameterAttribute]
    public string? OrderId { get; set; }



}
