

<h2>Editar Productos</h2>

<div class="container-fluid">

    <div class="row">
        <div class="col-md-5">
            <label>Código</label>
            <input class="form-control" type="text" name="code" />
        </div>
        <div class="col-md-6">
            <label>EAN</label>
            <input class="form-control" type="text" name="EAN" value="" />
        </div>
    </div>
    <div class="row">
        <label>Nombre</label>
        <input class="form-control" type="text" name="name" value="" />
    </div>
    <div class="row">
        <label>Precio</label>
        <input class="form-control" type="text" name="price" value="" />
    </div>
    <div class="row">
        <label>Descripción</label>
        <input class="form-control" type="text" name="description" value="" />
    </div>
    <div class="row">
        <label>Nombre fiscal</label>
        <input class="form-control" type="text" name="fiscal-name" value="" />
    </div>
    <div class="row">
        <div class="col-md-6">

            <label>Estado</label>
            <input class="form-control" type="text" name="status" value="" />
            <label>Receta</label>
            <input class="form-control" type="button" name="editRecipe" value="" />
        </div>
    </div>
    <div class="row">
        <input class="form-control" type="button" name="saveChanges" value="" />
        <input class="form-control" type="button" name="cancel" value="" />
    </div>
</div>




@code {
 

}
