@page "/user/profile"
@layout UserDashboardLayout
@using OrderNow.BlazorServer.Services

@using System.Text.Json
@using global::Data.Entities
@inject IHttpClientFactory ClientFactory
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<div class="container-fluid">
	
	<div class="col-md-12">
		<div class="btn-action">
			<button>Perfil Comercial</button>
		</div>
	</div>
		<div>
			<img id="profile-img"
				src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fA%3D%3D&w=1000&q=80"
				alt="" />
			<p id="customer-name">Emiliano Policardo</p>
		</div>
		<p id="last-connection-text">Ultima Conexion 12/05/2022</p>
	</div>

	<div class="Main">
			<TablaDinamica TableName="Favoritos"></TablaDinamica>
	</div>
	<div class="Products">
			<TablaDinamica TableName="Olvidados"></TablaDinamica>
	</div>


@code {

	//[ParameterAttribute]
	//public string? TableName { get; set; }
	//[ParameterAttribute]
	//public string? itemCount { get; set; }
	//[Inject]
	//protected IAuthorizationService _ordersService { get; set; }

	//public IEnumerable<Orders>? orders { get; set; }
	//GetCookieBusinessId
	//protected override async Task OnInitializedAsync()
	//{
	//	orders = await _ordersService.GetPendingOrdersByBusiness("269c886d-325f-4865-9cc4-34449aa3f56a");
	//}

}
