@page "/user/profile"
@layout UserLayout

<div class="container">
	<div class="Header">
		<div class="btn-action">
			<button>Perfil Comercial</button>
		</div>
		<div>
			<img id="profile-img"
				src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVyc29ufGVufDB8fDB8fA%3D%3D&w=1000&q=80"
				alt="" />
			<p id="customer-name">Emiliano Policardo</p>
		</div>
		<p id="last-connection-text">Ultima Conexion 12/05/2022</p>
	</div>

	<div class="Main">
			<TablaDinamica TableName="Favoritos"></TablaDinamica>
	</div>
	<div class="Products">
			<TablaDinamica TableName="Olvidados"></TablaDinamica>
	</div>
	<div class="Footer">Footer
		
	</div>
</div>

@code {

}
