@page "/user/settings"
@inject SignInManager<Users> SignInManager
@using Microsoft.AspNetCore.Identity


<h1>User settings</h1>

<input type="range" name="" id="payment_form">


<label for="cars">Choose a payment form:</label>

<select name="payment_form" id="payment_form">
  <option value="credit-card">Tarjeta de crédito</option>
  <option value="debit-card">Tarjeta de débito</option>
  <option value="cash">Efectivo</option>
  <option value="voucher">Cupón</option>
</select>



@code{

}

